{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <hr>
    <button class="modern" onclick="history.go(-1);">Go Back</button>
{% endblock %}