{% extends 'base.html.twig' %}
{% block content %}
    <h1>{{ service.title }}</h1>
    <p>{{ service.description }}</p>
    <hr>
    <button class="modern" onclick="history.go(-1);">Go Back</button>
{% endblock %}