{% extends 'base.html.twig' %}

{% block content %}

    <form action="{{ path('login') }}" method="post" class="form-centered">
        {% if error %}
            <div style="font-size: 20px; color: red; margin-bottom: 20px;">
                {{ error.message | replace({"Bad credentials." : "Invalid email or password."}) }}
            </div>
        {% endif %}
        <label for="_email">Email:</label>
        <input type="text" id="_email" name="_email" value="{{ last_username }}" class="simple-input" />

        <label for="_password">Password:</label>
        <input type="password" id="_password" name="_password" class="simple-input" />

        <button type="submit" class="modern">Login</button>
    </form>
{% endblock %}
