{% extends 'base.html.twig' %}

{% block content %}
    <div class="form-centered">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <p>* - is required</p>
        {{ form_end(form) }}
    </div>
{% endblock %}