{% block subject %}Your email Confirmation{% endblock %}

{% block body_text %}
    {% autoescape false %}
        <h3>Hello {{ name }} !</h3>
        <br>
        <h2>You can confirm your user account by pressing <a href="http://localhost:8000/confirm/{{ token }}">this link</a></h2>
        <br>
        <br>
        Greetings,<br>
        the App team
    {% endautoescape %}
{% endblock %}