{% block subject %}Your password recovery{% endblock %}

{% block body_text %}
    {% autoescape false %}
        <h3>Hello {{ name }} !</h3>
        <br>
        <h2>You can reset your user password by pressing <a href="http://localhost:8000/reset/{{ token }}">this link</a>.</h2>
        <br>
        <br>
        Greetings,<br>
        the App team
    {% endautoescape %}
{% endblock %}